/* 鼠標樣式 */
body {
  cursor: url("/images/cursor/default.cur"), auto;
}

a {
  cursor: url("/images/cursor/pointer.cur"), pointer;
}

/* scrollbar 樣式 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #d9d9d9;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
	border: 2px solid #cccc00;
}